.heading__container,
.heading__list,
.section-two,
.section-three,
.section-three__container,
.section-six__feedback,
.section-seven__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-one,
.section-three__meta,
.content-box,
.section-six,
.section-seven {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.section-one {
  background-image: url(../img/bg1.png);
  height: 100vh;
  text-align: center;
  color: white;
}

.section-one__title {
  font-size: 3rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}

.section-one__subtitle {
  font-size: 1.4rem;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 0.4rem;
  font-weight: 100;
  margin-bottom: 3rem;
}

.section-one__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: end;
  align-content: end;
  background-color: white;
  margin: 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-one__search .search-field {
  background-color: white;
  width: 31.26rem;
  border: none;
  outline: none;
  text-align: center;
  letter-spacing: 0.1rem;
  color: #5474fd;
}

.section-one__scroll {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-weight: 100;
  margin-top: 6rem;
  cursor: pointer;
}

.scroll__link {
  text-decoration: none;
  color: white;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 8vh;
  background-color: #5474fd;
}

.heading__container {
  width: 70%;
  margin: 0 auto;
  position: relative;
}

.heading__logo {
  font-size: 1.4rem;
  font-family: "Josefin Sans", sans-serif;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.heading__list {
  list-style-type: none;
  color: white;
  font-family: "Aleo";
  text-transform: uppercase;
  font-size: 0.8rem;
  width: 50vh;
}

.list__item {
  cursor: pointer;
  height: 1.6rem;
  padding: 0.3rem 0.3rem;
  border-right: 1px solid rgba(255, 255, 255, 0);
  border-left: 1px solid rgba(255, 255, 255, 0);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.item-link {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .section-one__search .search-field {
    width: 25.26rem;
  }
  .heading__logo {
    display: none;
  }
  .heading__list {
    width: 100%;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .section-one__search .search-field {
    width: 22rem;
  }
  .section-one__search > .button {
    width: 4rem;
  }
  .search-btn {
    display: none;
  }
  .heading__logo {
    display: none;
  }
  .list__item:hover,
  .item-link:hover,
  .list__item:active,
  .item-link:active {
    border-left: none;
  }
}

.page {
  width: 100vw;
}

.section-two {
  height: 73vh;
  background-image: url(../img/bg2.png);
  color: white;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section-two__left-side {
  width: 35%;
  text-align: left;
}

.section-two__right-side {
  width: 35%;
}

.section-two .right-side__first {
  margin-left: 7vw;
}

.section-two .right-side__second {
  margin-left: 14vw;
}

.section-two__text-box {
  font-family: "Josefin Sans", sans-serif;
  width: 90%;
  line-height: 1.625;
  font-weight: 100;
  margin: 3rem 0 2rem;
}

.title {
  font-size: 2.3rem;
  font-family: "Aleo";
  color: white;
}

.text-uppper {
  margin-bottom: 1rem;
}

.section-three {
  height: 19vh;
  background-image: url(../img/bg2_for_icons.png);
}

.section-three__container {
  width: 90%;
  margin: 0 auto;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.section-three__meta {
  font-family: "Aleo";
  font-size: 2.2rem;
  color: white;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 15rem;
  text-align: center;
}

.section-three__meta .meta__name {
  margin-top: 1rem;
}

.section-four {
  background-image: url(../img/bg3.png);
  height: 43.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-four__content-box {
  margin: 13% 0 0 15%;
}

.section-five {
  background-image: url(../img/bg4.png);
  height: 43.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.section-five__content-box {
  margin-top: 13%;
  margin-right: 15%;
}

.content-box {
  width: 33.5rem;
  height: 23.5rem;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-family: "Josefin Sans", sans-serif;
  text-align: left;
  font-weight: 100;
  padding: 2rem 2rem;
}

.content-box__title {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 1.3rem;
}

.content-box__country {
  font-weight: 100;
  font-size: 1.25rem;
}

.content-box__desc {
  line-height: 1.625;
}

.section-six {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 75vh;
  background-image: url(../img/bg5.png);
  color: white;
}

.section-six__title {
  text-align: center;
  margin-bottom: 4%;
}

.section-six__feedback {
  width: 70%;
  height: 20rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
  background-color: #333333;
}

.feedback__foto {
  background-image: url(../img/img3.png);
  background-position-x: right;
  height: 20rem;
  width: 150vw;
  background-size: cover;
  -o-object-fit: scale-down;
  object-fit: scale-down;
  -o-object-position: center;
  object-position: center;
}

.box__name {
  font-size: 1.3rem;
  margin: 0 0 5% 5%;
}

.box__quote {
  position: relative;
  font-size: 1.2rem;
  margin: 0 5%;
  height: 10.5rem;
}

.box__quote__text {
  text-indent: 2.5rem;
  line-height: 1.222;
  padding-top: 1rem;
}

.quote-sign {
  position: absolute;
  color: #5474fd;
  font-size: 2rem;
}

.menu-icon,
.input__menu {
  display: none;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  * {
    font-size: 14px;
  }
  .right-side__first {
    margin: 0 auto;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  .right-side__second {
    margin: 0 auto;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  .feedback__foto {
    height: 20rem;
    width: 200vw;
  }
  .section-two__right-side .right-side__first {
    margin-left: 3vw;
  }
  .section-two__right-side .right-side__second {
    margin-left: 3vw;
  }
  .meta__name {
    font-size: 1.8rem;
  }
  .section-four__content-box {
    margin-top: 15%;
    width: 30rem;
  }
  .section-five__content-box {
    margin-top: 15%;
    width: 30rem;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  * {
    font-size: 12px;
  }
  .section-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .section-two__left-side {
    width: 100%;
    height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .section-two__right-side {
    width: 100%;
    height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .section-two__text-box {
    width: 320px;
    text-align: center;
  }
  .section-two__right-side {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .section-two__right-side .right-side__first {
    height: 45%;
    margin: 0 auto;
  }
  .section-two__right-side .right-side__second {
    height: 45%;
    margin: 0 auto;
  }
  .meta__name {
    font-size: 1.3rem;
  }
  .section-four {
    height: 40rem;
  }
  .section-four__content-box {
    width: 25rem;
    margin-top: 17%;
  }
  .section-five {
    height: 40rem;
  }
  .section-five__content-box {
    margin-top: 17%;
    width: 25rem;
  }
  .section-six__feedback {
    width: 70vw;
    height: 50vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .feedback__foto {
    height: 50vh;
    width: 70vw;
  }
  .feedback__box {
    height: 40vh;
  }
  .box__name {
    font-size: 1.3rem;
    margin: 5% 0 5% 5%;
  }
  .menu-icon {
    display: inline-block;
    color: white;
    font-size: 2rem;
    position: absolute;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    z-index: 1;
  }
  .heading__container {
    width: 80%;
  }
  .list__item,
  .item-link {
    font-size: 1.1rem;
    border: none;
    padding: 1rem;
  }
  .heading__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    position: absolute;
    left: -100%;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    width: 80%;
    height: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: left;
    margin-bottom: 4%;
  }
  .input__menu:checked ~ .heading__list {
    left: 50px;
  }
  .input__menu:checked + .menu-icon {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    opacity: 0.8;
  }
}

.button {
  width: 14rem;
  height: 3.75rem;
  color: white;
  text-transform: uppercase;
  font-family: "Aleo";
  outline: none;
  border: none;
  cursor: pointer;
  background: linear-gradient(45deg, #496bfe, 43%, #5474fd 5%);
}

.section-seven {
  background-color: #232323;
  height: 25vh;
  color: white;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-seven__title {
  font-size: 1.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.section-seven__subtitle {
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
  letter-spacing: 0.1rem;
  margin: 0.2rem 0 1rem 0;
}

.section-seven__icons {
  width: 11rem;
}

.section-seven__icons .icon {
  text-decoration: none;
  color: white;
}

.scroll__link:hover,
.scroll__link:hover {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  font-weight: 300;
}

.list__item:hover,
.list__item:active {
  border-right: 1px solid white;
  border-left: 1px solid white;
  opacity: 0.7;
}

.icon:active,
.icon:hover {
  color: #5474fd;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

::-webkit-input-placeholder {
  color: #5474fd;
  opacity: 0.5;
  letter-spacing: 0.2rem;
}

.name-first:hover {
  cursor: pointer;
  color: #5678fa;
}

.name-sec:hover {
  cursor: pointer;
  color: #fd6567;
}

.name-third:hover {
  cursor: pointer;
  color: #1ca4fc;
}

.button:hover,
.button:active {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  font-weight: 700;
  background: linear-gradient(
    45deg,
    rgba(73, 107, 254, 0.8),
    43%,
    rgba(84, 116, 253, 0.8) 5%
  );
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .list__item:hover,
  .item-link:hover,
  .list__item:active,
  .item-link:active {
    border-left: none;
    border-right: none;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}
