.button {
  width: 14rem;
  height: 3.75rem;
  color: $colorWhite;
  text-transform: uppercase;
  font-family: $ffAleo;
  outline: none;
  border: none;
  cursor: pointer;
  background: linear-gradient(45deg, rgb(73, 107, 254), 43%, $colorFio 5%);
}
