.page {
  width: 100vw;
}

.section-two {
  height: 73vh;
  background-image: url(../img/bg2.png);
  color: $colorWhite;
  @extend %flex-row;
  justify-content: center;

  &__left-side {
    width: 35%;
    text-align: left;
  }

  &__right-side {
    width: 35%;
  }

  .right-side {
    &__first {
      margin-left: 7vw;
    }
    &__second {
      margin-left: 14vw;
    }
  }

  &__text-box {
    font-family: $ffJosef;
    width: 90%;
    line-height: 1.625;
    font-weight: 100;
    margin: 3rem 0 2rem;
  }
}

.title {
  font-size: 2.3rem;
  font-family: $ffAleo;
  color: $colorWhite;
}

.text-uppper {
  margin-bottom: 1rem;
}

.section-three {
  @extend %flex-row;
  height: 19vh;
  background-image: url(../img/bg2_for_icons.png);

  &__container {
    width: 70%;
    margin: 0 auto;
    @extend %flex-row;
    justify-content: space-around;
  }

  &__meta {
    @extend %flex-col;
    font-family: $ffAleo;
    font-size: 2.2rem;
    color: $colorWhite;
    align-items: center;
    width: 15rem;
    text-align: center;

    .meta__name {
      margin-top: 1rem;
    }
  }
}

.section-four {
  background-image: url(../img/bg3.png);
  height: 43.75rem;
  display: flex;

  &__content-box {
    margin: 13% 0 0 15%;
  }
}

.section-five {
  background-image: url(../img/bg4.png);
  height: 43.75rem;
  display: flex;
  justify-content: flex-end;

  &__content-box {
    margin-top: 13%;
    margin-right: 15%;
  }
}

.content-box {
  width: 33.5rem;
  height: 23.5rem;
  @extend %flex-col;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.8);
  color: $colorWhite;
  font-family: $ffJosef;
  text-align: left;
  font-weight: 100;
  padding: 2rem 2rem;

  &__title {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.3rem;
  }

  &__country {
    font-weight: 100;
    font-size: 1.25rem;
  }

  &__desc {
    line-height: 1.625;
  }
}

.section-six {
  @extend %flex-col;
  align-items: center;
  height: 75vh;
  background-image: url(../img/bg5.png);
  color: $colorWhite;

  &__title {
    text-align: center;
    margin-bottom: 4%;
  }
}

.section-six__feedback {
  width: 70%;
  height: 20rem;
  font-family: $ffJosef;
  font-weight: 100;
  @extend %flex-row;
  background-color: rgb(51, 51, 51);
}

.feedback__foto {
  background-image: url(../img/img3.png);
  background-position-x: right;
  height: 20rem;
  width: 150vw;
  background-size: cover;
  object-fit: scale-down;
  object-position: center;
}

.box__name {
  font-size: 1.3rem;
  margin: 0 0 5% 5%;
}

.box__quote {
  position: relative;
  font-size: 1.2rem;
  margin: 0 5%;
  height: 10.5rem;

  &__text {
    text-indent: 2.5rem;
    line-height: 1.222;
    padding-top: 1rem;
  }
}

.quote-sign {
  position: absolute;
  color: $colorFio;
  font-size: 2rem;
}

.menu-icon,
.input__menu {
  display: none;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  * {
    font-size: 14px;
  }

  .right-side__first {
    margin: 0 auto;
    transform: scale(0.9);
  }
  .right-side__second {
    margin: 0 auto;
    transform: scale(0.9);
  }

  .feedback__foto {
    height: 20rem;
    width: 200vw;
  }

  .section-two__right-side {
    .right-side__first {
      margin-left: 3vw;
    }
    .right-side__second {
      margin-left: 3vw;
    }
  }

  .meta__name {
    font-size: 1.8rem;
  }

  .section-four {
    &__content-box {
      margin-top: 15%;
      width: 30rem;
    }
  }

  .section-five {
    &__content-box {
      margin-top: 15%;
      width: 30rem;
    }
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  * {
    font-size: 12px;
  }

  .section-two {
    flex-direction: column;

    &__left-side {
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__right-side {
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: column;
    }
    &__text-box {
      width: 320px;
      text-align: center;
    }
  }

  .section-two__right-side {
    justify-content: center;
    .right-side__first {
      height: 45%;
      margin: 0 auto;
    }
    .right-side__second {
      height: 45%;
      margin: 0 auto;
    }
  }

  .meta__name {
    font-size: 1.3rem;
  }

  .section-four {
    height: 40rem;

    &__content-box {
      width: 25rem;
      margin-top: 17%;
    }
  }

  .section-five {
    height: 40rem;
    &__content-box {
      margin-top: 17%;
      width: 25rem;
    }
  }

  .section-six__feedback {
    width: 70vw;
    height: 50vh;
    flex-direction: column;
  }

  .feedback__foto {
    height: 50vh;
    width: 70vw;
  }
  .feedback__box {
    height: 40vh;
  }
  .box__name {
    font-size: 1.3rem;
    margin: 5% 0 5% 5%;
  }
  .menu-icon {
    display: inline-block;
    color: $colorWhite;
    font-size: 2rem;
    position: absolute;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    z-index: 1;
  }

  .heading__container {
    width: 80%;
  }

  .list__item,
  .item-link {
    font-size: 1.1rem;
    border: none;
    padding: 1rem;
  }

  .heading__list {
    flex-direction: row;
    position: absolute;
    left: -100%;
    transition: all 300ms ease-in-out;
    width: 80%;
    height: 100%;
    flex-wrap: wrap;
    text-align: left;
    margin-bottom: 4%;
  }

  .input__menu:checked ~ .heading__list {
    left: 50px;
  }

  .input__menu:checked + .menu-icon {
    transition: all 300ms ease-in-out;
    opacity: 0.8;
  }
}
