@import "variables";
@import "header";
@import "main";
@import "button";
@import "footer";
@import "pseudoclasses";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}
